*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#000;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
/* margin-top: 100px; */
max-width: 1040px;
padding: 0 30px;
margin-left: auto;
margin-right: auto;
}
.filter-form{
   width: 700px;
   margin-left: auto;
   margin-right: auto;
}
.form-el{
    color:red;
    padding: 10px;
    background:transparent;
    border-radius:10px;
    outline: none;
    margin-right: 15px;
    font-weight: 500;
    font-size: 16px;

}
.filter-btn{
    padding:5px  10px;
    background-color: gold;
    border-radius:10px;
    font-size:16px
}
.film-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.film-list__item{
background-color: #000;
margin-top: 30px;
transition: transform .6s;
text-align: center;
border-radius: 10px;
}
.film-list__item:hover {
    transform: scale(1.03);
}
.film-list__item:hover .film-list__img{    
    box-shadow: 0 0 10px 2px #27ae60;
}

.film-list__img{
border:2px solid #C4DA2F;
width: 230px;
border-radius: 10px;
transition: box-shadow 0.6s;
}

.film-list__title{
    margin-top: 10px;
 width: 230px;
 font-size: 18px; 
 padding: 0 15px;
 color: #fff;
}
       
.film-list__genreul{
    list-style: none;
}
.film-list__genre{
    color: #fff;
    /* display: inline-block; */
}
.film-date{
    color: #fff;
    
}
.modal{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);    
    position: fixed;
    z-index: 10;
}
.modal__content{
    background-color: #fff;
    max-width: 500px;
    padding: 30px;
    border-radius:20px;
    position: relative;
}
.modal-open{
    display: flex;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 13px;
    background: transparent;
    border:none
}
.modal-title{
    margin-top: 10px;
}
.modal-information{
    margin-top: 20px;


}
.more-info-btn{
    margin-top: 10px;
    border:none;
    padding: 5px 8px;
    border-radius:5px;
    color:blueviolet;
    font-size:14px;
    font-weight: 700;

}
@media only screen and (max-width:900px){
    .container{
        max-width:600px

    }
    .filter-form{
        width: 500px;
    }
    .form-el{
        width: 120px;
        font-size:14px;
        margin-bottom: 10px;

    }
}
@media only screen and (max-width:700px){
    .container{
        max-width:500px

    }
    
    .film-list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .film-list__item{
    background-color: #000;
    margin-top: 20px;
    transition: transform .6s;
    text-align: center;
    border-radius: 10px;
    }
    
    
    .film-list__img{
    width: 200px;
    }
    
    .film-list__title{
     width:100%;
    }
    
}
@media only screen and (max-width:540px){
    .logo-img{
        width: 150px;
        height: 150px;
    }
    .filter-form{
        width: 300px;
        text-align: center;
    }
    .form-el{
        width: 100%;
    }
    .film-list{
        margin-top: 20px;
    }
    .film-list__img{
        width: 180px;
        }
        
        .film-list__title{
         width:180px;
         font-size:14px
        }
        .more-info-btn{
            font-size:12px;
            padding: 3px 5px;
        }
}
@media only screen and (max-width:480px){
    .filter-form{
        width: 200px;
        text-align: center;
    }
    .form-el{
        width: 100%;
    }
    .filter-btn{
        font-size:14px
    }
    .film-list__img{
        width: 150px;
        }
        
        .film-list__title{
         width:150px;
         font-size:14px
        }
}
@media only screen and (max-width:420px){
    .film-list__img{
        width: 120px;
        }
        
        .film-list__title{
            margin-top: 5px;
         width:150px;
         font-size:14px
        }
        .more-info-btn{
            margin-top: 5px;
        }
}
@media only screen and (max-width:400px){
    .film-list{
        justify-content: center;
    }
    .film-list__img{
        width: 200px;
        }
        
        .film-list__title{
            margin-top: 5px;
         width:200px;
         font-size:15px
        }
        .more-info-btn{
            margin-top: 5px;
        }
}